.noClicks {
  pointer-events: none;
}

.childClicksOnly {
  pointer-events: none;
  & > * {
    pointer-events: auto;
  }
}

.outerStyle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}

.innerStyle {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* When aspect-ratio is set, adjust the width automatically */
.innerStyle[style*="aspect-ratio"] {
  width: auto;
}

.characterCamera {
  position: absolute;
  right: 2vw;
  top: 2vh;
  pointer-events: none;
}

.hudStyle {
  position: absolute;
  top: 0;
  right: 0;
}
