html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "DynaPuff", Avenir, Helvetica, Arial, sans-serif;
  line-height: 140%;
  font-size: 20px;
}
div {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
